<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="https://kit.fontawesome.com/a270fcf83b.js" crossorigin="anonymous"></script>
</head>

<body>
    <button class="back-button" onclick="goBack()">Back</button>
    <div class="container">
        <div class="form-container">
            <div><h1>Student Login</h1></div>
            <!-- Formu login metoduna bağladık -->
            <form asp-action="StudentLogin" asp-controller="Account" method="post">
                <!-- Username Input -->
                <div class="input-group">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>

                <!-- Password Input -->
                <div class="input-group">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>

                <!-- Login Button -->
                <div class="btn-field">
                    <button type="submit">Log in</button>
                </div>

                <!-- Redirect to Register -->
                <div>
                    <a href="/Account/Register">Create an Account</a>
                </div>

                <!-- Error Message -->
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <p class="text-danger">@ViewBag.ErrorMessage</p>
                }
            </form>
        </div>
    </div>

    <script>
                function goBack() {
            window.location.href = "/"; // Buraya istediğiniz URL'yi yazabilirsiniz
        }

    </script>
</body>

</html>
