<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
}
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="~/css/add_book.css">
    <script src="~/js/login.js" defer></script>
    <script src="~/js/script.js" defer></script>

</head>
<body>
    <div class="container">
        <a href="/Admin/Portal" class="button-secondary">Back</a>
        <h1 class="title">Add New Book</h1>

        <!-- Form for adding a new book -->
        <form asp-controller="Book" asp-action="Add" method="post" enctype="multipart/form-data" class="form">
            <div class="form-group">
                <label for="book-isbn" class="label">Book ISBN</label>
                <input type="text" placeholder="Enter book ISBN" class="input" id="book-isbn" name="ISBN" required>
            </div>
            <div class="form-group">
                <label for="book-title" class="label">Book Title</label>
                <input type="text" placeholder="Enter book title" class="input" id="book-title" name="Title" required>
            </div>
            <div class="form-group">
                <label for="book-author" class="label">Author</label>
                <input type="text" placeholder="Enter author name" class="input" id="book-author" name="Author" required>
            </div>
            <div class="form-group">
                <label for="book-description" class="label">Description</label>
                <textarea placeholder="Enter book description" class="input" id="book-description" name="Description" required></textarea>
            </div>
            <div class="form-group">
                <label for="book-image" class="label">Book Image</label>
                <input type="file" accept="image/*" class="input" id="book-image" name="Image" required>
            </div>
            <button type="submit" class="button">Add Book</button>
        </form>
    </div>
    <script>
        const successMessage = '@TempData["SuccessMessage"]';
        if (successMessage) {
            // Mesajý sayfanýn üst kýsmýnda göster
            const messageContainer = document.createElement('div');
            messageContainer.style.position = 'fixed';
            messageContainer.style.top = '0';
            messageContainer.style.left = '0';
            messageContainer.style.width = '100%';
            messageContainer.style.padding = '15px';
            messageContainer.style.backgroundColor = '#4caf50';
            messageContainer.style.color = 'white';
            messageContainer.style.textAlign = 'center';
            messageContainer.style.zIndex = '1000';
            messageContainer.textContent = successMessage;
            document.body.appendChild(messageContainer);

            // 2 saniye sonra Portal'a yönlendir
            setTimeout(() => {
                window.location.href = "/Admin/Portal"; // Portal sayfasýna yönlendir
            }, 1000);
        }
    </script>

</body>
</html>
